---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import BlogCard from '../../components/BlogCard.astro';

const allPosts = await getCollection('blog');
const sortedPosts = allPosts.sort(
  (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime()
);
---

<Layout title="Blog" description="my blog posts">
  <h1 class="mt-8 mb-12 text-left text-5xl font-extrabold font-mono">Blog</h1>

  <div class="x-container grid gap-8 lg:grid-cols-2">
    {sortedPosts.map((post, index) => <BlogCard post={post} />)}
  </div>
</Layout>
