@import 'tailwindcss';
@plugin '@tailwindcss/typography';

html,
body {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

@utility bg-purple-new {
  background-color: #d8d2f0;
}

@utility bg-green-new {
  background-color: #c5dd5c;
}

@utility bg-pink-new {
  background-color: #f9c5d5;
}

@layer components {
  /* base container */
  .x-container {
    @apply max-w-7xl mx-auto;
  }

  /* flex wrap */
  .x-wrapper {
    @apply inline-flex items-center justify-center text-base;
  }

  /* icon style */
  .x-icon {
    @apply p-2 border-2 border-black rounded-lg cursor-pointer;
  }

  /* button style */
  .x-button {
    @apply p-2 border-2 border-black rounded-lg shadow-[4px_4px_0px_rgb(0,0,0)] hover:translate-x-[2px] hover:translate-y-[2px] hover:shadow-[2px_2px_0px] active:translate-x-[4px] active:translate-y-[4px] active:shadow-[0px_0px_0px] transition-all cursor-pointer;
  }
}
