---
import type { CollectionEntry } from 'astro:content';
import { ChevronRight } from '@lucide/astro';

interface Props {
  post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;
const { title, description, pubDate } = post.data;
---

<div class:list={['flex h-full flex-col rounded-lg border-2 border-black p-6']}>
  <h2 class="mb-2 text-2xl font-bold">{title}</h2>
  <time class="text-sm text-gray-600">
    更新时间：{pubDate.toLocaleDateString('zh-CN')}
  </time>
  <p class="my-4 flex-grow text-gray-700">{description}</p>
  <div class="flex justify-end items-center">
    <a
      href={`/blog/${post.slug}`}
      class="x-style x-wrapper x-hover x-active px-4 hover:bg-purple-new"
    >
      Read More
      <ChevronRight class="h-6 w-6 ml-2" />
    </a>
  </div>
</div>
